# custom element
snippet el
	<${1:el_name}>${0}</$1>
# element with a line break
snippet elb
	<${1:el_name}>
	  ${0}
	</$1>
# element with metadata (classes, id's attr's, etc...)
snippet elm
	<$1 ${2}>
	  ${0}
	</$1>
